<div class="userProfile__changePassword">

    <p class="changePassword__header opensans-bold__16">Security</p>

    <form autocomplete="off" novalidate [formGroup]="passwordAddForm" class="password_form">

        <div *ngIf="isShowingForm">
            <mat-form-field class="password__input">
                <input id="newPassword"  class="opensans-bold__14" matInput type="password" formControlName="newPassword"
                       [formGroup]="passwordAddForm">
                <mat-placeholder class="opensans-regular__14 input-placeholder" for="password">Password
                </mat-placeholder>
                <mat-error class="error-message"
                           *ngIf="!passwordAddForm.controls.newPassword?.errors?.required && passwordAddForm.controls.newPassword?.errors?.pattern">
                    Minimum 6 chars length
                    <br>including 1 upper and 1 special
                </mat-error>
                <mat-error class="error-message .opensans-itallic__14"
                           *ngIf="passwordAddForm.controls.newPassword?.errors?.required">This field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="password__input">
                <input id="confirmNewPassword" matInput class="opensans-bold__14" type="password" formControlName="confirmNewPassword"
                       [formGroup]="passwordAddForm">
                <mat-placeholder class="opensans-regular__14 input-placeholder"
                                 for="confirmNewPassword">Repeat password
                </mat-placeholder>
                <mat-error class="error-message"
                           *ngIf="passwordAddForm.controls.confirmNewPassword?.errors?.MatchNewPassword">
                    Given passwords have to be the same
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout fxLayoutAlign="start center" class="form__buttons">
            <div class="buttons__cancelButton" (click)="hidePasswordAddForm()" *ngIf="isShowingForm">cancel
            </div>
            <button class="mat-block buttons__save button_disabled--color"
                    (click)="handleAddPasswordButton(passwordAddForm, false)"
                    [disabled]="isShowingForm && !passwordAddForm.valid">add password
            </button>
        </div>

    </form>

</div>
