<div class="userProfile__changePassword">

    <p class="changePassword__header opensans-bold__16">Security</p>

    <form autocomplete="off" novalidate [formGroup]="passwordChangeForm" class="password_form">

        <div *ngIf="isShowingForm">

            <mat-form-field class="password__input">
                <input class="opensans-bold__14" matInput id="oldPassword" type="password" formControlName="oldPassword"
                       [formGroup]="passwordChangeForm">
                <mat-placeholder class="opensans-regular__14 input-placeholder" for="password"
                                 [ngClass]="{'': passwordChangeForm.controls.oldPassword?.errors?.required}">Old
                    password
                </mat-placeholder>
                <mat-error class="error-message" *ngIf="passwordChangeForm.controls.oldPassword?.errors?.required">This
                    field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="password__input">
                <input class="opensans-bold__14" id="newPassword" matInput type="password" formControlName="newPassword"
                       [formGroup]="passwordChangeForm">
                <mat-placeholder class="opensans-regular__14 input-placeholder" for="password">New password
                </mat-placeholder>
                <mat-error class="error-message"
                           *ngIf="!passwordChangeForm.controls.newPassword?.errors?.required && passwordChangeForm.controls.newPassword?.errors?.pattern">
                    Minimum 6 chars length
                    <br>including 1 upper and 1 special
                </mat-error>
                <mat-error class="error-message .opensans-itallic__14"
                           *ngIf="passwordChangeForm.controls.newPassword?.errors?.required">This field is required
                </mat-error>
            </mat-form-field>

            <mat-form-field class="password__input opensans-regular__14">
                <input id="confirmNewPassword" matInput type="password" formControlName="confirmNewPassword"
                       [formGroup]="passwordChangeForm">
                <mat-placeholder class="opensans-regular__14 input-placeholder"
                                 for="confirmNewPassword">Repeat new password
                </mat-placeholder>
                <mat-error class="error-message"
                           *ngIf="passwordChangeForm.controls.confirmNewPassword?.errors?.MatchNewPassword">
                    Given passwords have to be the same
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout fxLayoutAlign="start center" class="form__buttons">
            <div class="buttons__cancelButton" (click)="hidePasswordChangeForm()" *ngIf="isShowingForm">cancel
            </div>
            <button class="mat-block buttons__save button_disabled--color"
                    (click)="handleChangePasswordButton(changingPasswordForm, false)"
                    [disabled]="isShowingForm && !passwordChangeForm.valid || waitingForLocalization">change password
            </button>
            <ngx-loading [show]="waitingForLocalization" [config]="getSpinnerConfig()"></ngx-loading>
        </div>

    </form>

</div>
