.profile-page {
    margin-top:20px;
}

.profile-edit {
    min-width: 300px;
}

.password-change {
    min-width: 20%;
}

.anonymity-change {
    min-width: 20%;
}

.profile__app-footer {
    padding-top: 434px;
}
