<div class="success__placeholder">
    <div>
        <div (click)="closeDialog()" class="icon-close success__close"></div>
    </div>
    <div class="success__message--big">
        Yay!
    </div>
    <div class="centered_row">
        <div class="icon-rocket success__rocket"></div>
    </div>
    <div class="modal__message--small">{{data.smallMessage}}</div>
    <div class="centered_row modal__button--padding">
        <button (click)="closeDialog()" class="success__button--big to-uppercase">ok, cool</button>
    </div>
</div>
