<div class="k-page">
    <div class="recover__mainContent">
        <div class="recoverPage__header">
            <p>Recover</p>
        </div>
        <div class="recover__inputs">
            <form autocomplete="off" #f="ngForm" novalidate (submit)="onRecoverFormSubmit(f)">
                <mat-form-field class="recover__form">
                    <mat-placeholder>New Password</mat-placeholder>
                    <input type="password"
                        name="password"
                        [(ngModel)]="data.password"
                        #password="ngModel"
                        matInput
                        required
                        pattern="^((?=.*[A-Z])(?=.*\W).{6,255})$"
                        class="opensans-bold__14"
                        [ngClass]="{'inputField--redError': passwordInvalid(password)}">
                    <mat-error class="error-message"
                        *ngIf="password.hasError('required') && password.touched">This field is required
                    </mat-error>
                    <mat-error class="error-message"
                        *ngIf="password.hasError('pattern') && password.dirty">Minimum 6 chars length, 1 upper and 1 special
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="recover__form">
                    <mat-placeholder>Repeat new password</mat-placeholder>
                    <input type="password"
                        name="confirmPassword"
                        [(ngModel)]="data.confirmPassword"
                        #confirmPassword="ngModel"
                        matInput required
                        class="opensans-bold__14"
                        [ngClass]="{'inputField--redError': confirmPasswordInvalid(confirmPassword)}">
                    <mat-hint class="error-message recovery__message"
                        *ngIf="confirmPasswordInvalid(confirmPassword) && confirmPassword.dirty">Given passwords have to be the same
                    </mat-hint>
                    <mat-error class="error-message"
                        *ngIf="confirmPassword.hasError('required') && password.touched">Given passwords have to be the same
                    </mat-error>
                </mat-form-field>
                <div class="button__section">
                    <button class="recover__button button_disabled--color"
                        [disabled]="f.invalid || disableButton"
                        type="submit">Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
