@import '../../../shared/styles/mixins';
@import '../../../shared/styles/fonts';
@import '../../../../styles';

.userProfile__changePassword {
    width: 270px;
}

.password__input {
    background-color: $color-mainBackground !important;
    color: $color-black;
    height: 75px;
    width: 275px !important;
}

.buttons__save {
    @include button($background: $color-mainBackground, $width: 170px);
}

.buttons__save:disabled {
    cursor: unset;
}

.password_form {
    margin-top: 40px;
}

.form__buttons {
    margin-top: 10px;
}

.buttons__cancelButton {
    @extend .text__button;
    @extend .opensans-regular__12;
    margin-right: 20px;
}

.input-placeholder {
    color: $color-secondary;
}
