@import "../../shared/styles/fonts";
@import "../../shared/styles/mixins";
@import "../../shared/styles/material-input";

.reset__inputs {
    width: 570px;
    min-height: 280px;
    background: $color-secondaryBackground url("../../shared/img/img-reset.png") no-repeat;
    background-size: 170px 100%;
    position: relative;
    left: 16.4%;
    top: 31.5%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reset__forgot {
    margin-left: 2px;
    margin-bottom: 40px;
    align-self: start;
}

.reset__header {
    margin-left: 19px;
    margin-top: 11px;
    color: $color-secondaryBackground;
    font-weight: 700;
    font-size: 30px;
}

.reset_link{
    position: relative;
    left: 35%;
}

.reset__content {
    margin-top: 25px;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 80px;
}

.reset__button {
    @include button($width: 70px, $float: right);
    align-self: flex-end;
}

.reset__form{
    width: 290px;
}

.reset__input {
    width: inherit;
}
