<div class="k-page">
    <div class="reset__inputs">
        <div class="reset__header opensans-bold__30"> Reset </div>
        <div class="reset__content" >
            <div>
                <div class="reset__forgot opensans-semibold__14">Forgot your Password?</div>
                <form autocomplete="off" #form="ngForm" class="reset__form" novalidate (submit)="onResetFormSubmit(form)">
                    <mat-form-field class="reset__input">
                        <mat-placeholder class="opensans-regular__14">Enter your e-mail to reset your password</mat-placeholder>
                        <input [(ngModel)]="data.email" #email="ngModel"
                                matInput
                                pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$"
                                name="email" class="opensans-bold__14"
                                required [ngClass]="shouldChangeColorOfEmailInput(email)"
                        >
                        <mat-error class="error-message" *ngIf="email.hasError('required') && email.touched">This field is required</mat-error>
                        <mat-error class="error-message" *ngIf="email.hasError('pattern') && email.dirty">Invalid email address</mat-error>
                    </mat-form-field>
                    <div *ngIf="isCaptchaDisplayed" class="recaptcha--smaller">
                        <re-captcha #captcha [(ngModel)]="data.recaptchaResponse" #recaptchaResponse name="captcha" required></re-captcha>
                    </div>
                    <button class="reset__button button_disabled--color" [disabled]="form.invalid || disableButton" type="submit">reset</button>
                </form>
            </div>
            <div class="opensans-semibold__14"><a class="anchor--orange reset_link" routerLink='/login'>Login here</a></div>
        </div>
    </div>
</div>
