<div class="removeMemberConfirmation__placeholder" fxLayout="column" fxLayoutAlign="space-between center" click-stop-propagation>
    <div class="opensans-bold__14 confirmation__message">
        This user will lose access to
        <br>all lists and cards on this board.
        <br> Are you sure you want to
        <span class="delete-accent">delete</span> him/her?
    </div>
    <div class="confirmation__buttons" fxLayout="row" fxLayoutAlign="space-between center">
        <button class="confirm__button" (click)="delete()">delete</button>
        <div class="confirmation__cancel" (click)="cancel()">Cancel</div>
    </div>
</div>
