<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allLogs" fileName="${basedir}/logsprod/allLogs/${shortdate}.log"
            layout="${date:format=HH\:mm\:ss}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="customLogs" fileName="${basedir}/logsprod/customLogs/${shortdate}.log"
            layout="${date:format=HH\:mm\:ss}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="customLogs" />
  </rules>
</nlog>