@import "../../shared/styles/colors";

.board__name-panel {
    margin-top:25px;
    margin-right: 15px;
}

.board__header{
    height: 50px !important;
    margin-bottom:15px;
}

.board__app-footer {
    padding-top: 44px;
}

