$color-mainBackground: #F5F5F5;
$color-secondaryBackground: #FFFFFF;
$color-accent: #FF5722;
$color-secondary: #9E9E9E;
$color-grey: #EEEEEE;
$color-lightGrey: #D2D2D2;
$color-facebook: #3B5998;
$color-underlineBoardMiniature: #F1F1F1;
$color-darkText: #212121;
$color-success:#37BA89;
$color-error: #F44336;
$color-black: #000000;
$color-heartIcon: #9c27b0;
$color-googleLogIn: #C66858;
